// Fonts:
$main-font: Lato,
Arial,
sans-serif;

// Colors:
$white: #FFFFFF;
$dark-font: #21282D;
$footer-font: #666666;
$wrapper: #EAEAEA;
$green-bg: #346250;
$local-gray: #DEDDD9;

// start of email wrapper styles...
.wrapper {
    background: $wrapper;
    background-color: $wrapper;

    // start of header-container styles...
    .header {
        background: $green-bg;
        background-color: $green-bg;
        border-bottom: 2px solid $white;

        .find {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20px;

            a {
                img {
                    width: 97px;
                }
            }
        }

        .logo {
            padding-top: 30px;
            padding-bottom: 30px;

            a {
                img {
                    width: 227px;
                    margin: 0 auto;
                }
            }
        }

        .view {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 5px;

            a {
                img {
                    width: 62px;
                    margin: 0 auto;
                }
            }
        }
    }

    // end of header-container styles...

    // start of coupon-container styles...
    .coupon {
        background-image: url("../../assets/img/15-off-bg.png");

        .offer {
            padding-top: 50px;
            padding-bottom: 40px;

            a {
                img {
                    width: 226px;
                    margin: 0 auto;
                    padding-bottom: 30px;
                }

                .activate {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $white;
                    font-family: $main-font;
                    font-weight: 800;
                    letter-spacing: 1.3px;
                    font-weight: bold;
                    border: 1px solid $white;
                    width: 185px;
                    margin: 0 auto;
                    padding: 14px 28px;
                }

                .text {
                    padding-top: 30px;
                    width: 94%;
                    margin: 0 auto;
                    font-family: $main-font;
                    color: $white;
                    line-height: 1.4;
                    font-size: 11px;
                }
            }
        }
    }

    // end of coupon-container styles...

    // start of products-container styles...
    .products {
        .title {
            h3 {
                font-size: 26px;
                font-family: $main-font;
                color: $dark-font;
                padding-top: 40px;
                padding-bottom: 20px;
            }
        }

        .books {
            width: 94%;
            margin: 0 auto;

            .book {
                padding: 40px 0;

                table {
                    width: 92%;
                    margin: 0 auto;

                    a {
                        text-decoration: none;
                        font-size: 15px;
                        font-family: $main-font;
                        color: $dark-font;
                        font-weight: 600;

                        img {
                            width: 110px;
                            padding-bottom: 30px;
                        }

                        .shark {
                            padding-bottom: 68px;
                        }

                        .top-ten {
                            padding-bottom: 40px;
                        }
                    }

                    .btn {
                        border: 1px solid $dark-font;
                        font-size: 14px;
                        padding: 18px 8px;
                    }
                }
            }
        }
    }

    // end of products-container styles...

    // start of ads-container styles...
    .ads {
        background: $green-bg;
        background-color: $green-bg;

        .shipping {

            .columns {
                padding-top: 24px;
                padding-bottom: 24px;

                a {
                    color: $white;
                    font-family: $main-font;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 20px;
                }
            }

            .large {
                p {
                    font-size: 45px;
                    margin-bottom: 0;
                    color: $white;
                    font-weight: 300;
                    font-family: $main-font;
                }
            }

            .small {
                p {
                    border-bottom: 1px solid $white;
                    width: 8%;
                    margin: 0 auto;
                }
            }
        }
        .wrapper{
            background-color: $white;
        }
        .ad{
            width: 90%;
            margin: 45px auto;
            background: $white;
            background-color: $white;
            .columns{
                padding-bottom: 0;
            }
            .ad-img{
                img{
                    width: 95px;
                    padding-bottom: 14px;
                }
            }
            a{
                text-decoration: none;
                color: $green-bg;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }

    // end of ads-container styles...

    // start of local-container styles...
    .local{
        background: $local-gray;
        background-color: $local-gray;
        .columns{
            padding: 0;
        }
        a{
            img{
                width: 260px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    // end of local-container styles...

    // start of footer-container styles...
    .footer{
        background: $wrapper;
        background-color: $wrapper;
        .social-media{
            width: 80%;
            margin: 0 auto;
            .columns{
                padding: 0;
                a{
                    img{
                        width: 40px;
                        padding-top: 40px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .footer-text{
            .columns{
                padding-bottom: 0;
                p{
                    margin-bottom: 0;
                    line-height: 18px;
                    font-size: 12px;
                    font-family: $main-font;
                    color: $footer-font;
                    padding-bottom: 16px;
                    a{
                        text-decoration: underline;
                        color: $footer-font;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    // end of footer-container styles...

// line-height: 18px;
// 12px font

}

// end of email wrapper styles...
